attrs==20.2.0
Automat==20.2.0
click==7.1.2
constantly==15.1.0
dnspython==1.16.0
eventlet==0.28.0
Flask==1.1.2
Flask-SocketIO==4.3.1
greenlet==0.4.17
gunicorn==20.0.4
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
monotonic==1.5
psycopg2-binary==2.8.6
pyasn1==0.4.8
PyHamcrest==2.0.2
pymodbus==2.4.0
pyserial==3.4
python-engineio==3.13.2
python-socketio==4.6.0
six==1.15.0
Twisted==20.3.0
Werkzeug==1.0.1
zope.interface==5.1.2
