  
 /* * {box-sizing: border-box} */
 body {
 
  font-family: "Lato", sans-serif;
  font-size: 15px;
 
}



 /* ============================================ */
 .btn {
   background-color: #2f332f;
   border: 2px solid #0a0b0c;
   color: white;
   padding: 8px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
/*   font-size: 16px;*/
   margin: 4px 2px;
   cursor: pointer;
   font-weight: 500;
  letter-spacing: 0.23px;
 }
 .success {background-color: #4CAF50;width: 100px;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3; width: 100px;} /* Blue */
.info:hover {background: #0b7dda;}


 .danger {background-color: #f44336;width: 100px;} /* Red */
 .danger:hover {background: #da190b;}

 .default {background-color: #e7e7e7; color: black;width: 100px;} /* Gray */
 .default:hover {background: #ddd;}


.top-container {
  background-color: #f1f1f1;
  /* padding: 30px; */
  text-align: center;
  
}

.lock-container {
  height: 100%;
  margin: 0;
  background-color: #353439;
  padding: 60px;
  text-align: center;
  color: #ffffff;
  
}

 


/*Clearing Floats*/
.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}    

   

p {
  font-size: 18px;
}

.custom {
  width: 78px !important;
}

 

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}

.unstyled-button {
  border: none;
  padding: 0;
  background: none;
  font-size: 12px;
  margin: 10px;
}

