<!DOCTYPE HTML>
<html lang="en">
 
<head>
 
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<title>HEALTH MONITORING OF STEAM PIPE SYSTEMS</title>

	<link rel="stylesheet" href="static/bootstrap.min.css">
	<link rel="stylesheet" href="static/main.css">
 
	 <script type="text/javascript" src="static/Chart.js"></script>
	 <script type="text/javascript" src="static/chartjs-plugin-datalabels.js"></script>

	 <script type="text/javascript" src="static/jquery.min.js"></script>
	 <script type="text/javascript" src="static/jquery.min.js"></script>
      
     <link rel="stylesheet" type="text/css" href="static/datatables.min.css"/>
      <script type="text/javascript" src="static/datatables.min.js"></script>

	  <script type="text/javascript" src="static/socket.io.min.js"></script>		 
	  <script type="text/javascript" charset="utf-8" src="static/amainjs.js"></script>
	  <script src="static/popper.min.js"></script>
	  <script src="static/bootstrap.min.js"></script>
 


	  

 
</head>

<div class="top-container">
	<br>
		<h1>ADVANCED HEALTH MONITORING OF STEAM PIPE SYSTEMS</h1>
		<h2>Realtime Sensor Updates Ver.1.0</Ver> </h2>
		<p>Local Date/Time: <span id="datetimenow"></span></p>
		<p>GMT Date/Time: <span id="datetimeiso"></span></p>


	<br> 
</div>
	
 
<script>
	

function updateTime(){
	var now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time) 
	var now_utc = new Date(now.toUTCString().slice(0, -4));
	document.getElementById("datetimenow").innerHTML = now.toLocaleString();
	document.getElementById("datetimeiso").innerHTML = now_utc.toLocaleString();
	}

	setInterval(updateTime, 1000);

</script>


 
   <div class="container">
	<br>
	<h2> Sensor Data Table</h2>
	<div class="card shadow mb-4">

 	
	{% for table in tables %}
	{{ table|safe }}
	{% endfor %}
	<p class="text-muted" style="font-size: 12px; text-align: center;">Time Zone: GMT (EDT= GMT-04:00, PDT= GMT-07:00).</p>
	</div>	
		<script>
		$(document).ready(function() {
		$('#sqltable').DataTable();
		} );
		</script>
 
	</div>

  	


		<div class="container">
			<h2> Sensor Data Chart</h2>

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold"> Acoustic Sensor Data</h6>
			
				</div>
				
						<div class="card-body">

							<canvas id="acanvas"  width="100%" height="40"></canvas>
							
						</div>
					
						<hr>
					
						<!-- <p class="text-muted" style="font-size: 12px; text-align: center;">Time Zone: GMT (EDT= GMT-04:00, PDT= GMT-07:00). Filter the graph by selecting date from the date input.</p> -->
				</div><!--end Card mb-4-->	
			</div>

		</div>


	


		<div class="container">
	 

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold"> Acoustic Sensor Temperature Data</h6>
			
				</div>
				
						<div class="card-body">

							<canvas id="TR_T_canvas"  width="100%" height="40"></canvas>
							
						</div>
					
						<hr>
					
						<!-- <p class="text-muted" style="font-size: 12px; text-align: center;">Time Zone: GMT (EDT= GMT-04:00, PDT= GMT-07:00). Filter the graph by selecting date from the date input.</p> -->
				</div><!--end Card mb-4-->	
			</div>

		</div>


		<div class="container">
 

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold"> Electronic Box Humidity Data</h6>
			
				</div>
				
						<div class="card-body">

							<canvas id="H_canvas"  width="100%" height="40"></canvas>
							
						</div>
					
						<hr>
					
						<!-- <p class="text-muted" style="font-size: 12px; text-align: center;">Time Zone: GMT (EDT= GMT-04:00, PDT= GMT-07:00). Filter the graph by selecting date from the date input.</p> -->
				</div><!--end Card mb-4-->	
			</div>

		</div>


		
		<div class="container">
 

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold"> Electronic Box Temperature Data</h6>
			
				</div>
				
						<div class="card-body">

							<canvas id="BOX_canvas"  width="100%" height="40"></canvas>
							
						</div>
					
						<hr>
					
						<!-- <p class="text-muted" style="font-size: 12px; text-align: center;">Time Zone: GMT (EDT= GMT-04:00, PDT= GMT-07:00). Filter the graph by selecting date from the date input.</p> -->
				</div><!--end Card mb-4-->	
			</div>

		</div>



 


 
 
		

</body>
</html>
